.container_films{
    width: 80%;
    margin-top: 10%;
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    margin-left: 8%;
    grid-gap: 6em;
    grid-template-columns: repeat(auto-fill,16em);
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  z-index: 1;
}

.star-wars {
  background-color:rgba(0, 0, 0, 0.651); 
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
  }
  
  .crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
  }
  
  .crawl > .title {
    font-size: 90%;
    text-align: center;
  }
  
  .crawl > .title h1 {
    margin: 0 0 100px;
    text-transform: uppercase;
  }
  
  @keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }

  .modal_text{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 100%;
  }

  .close {
    position: relative;
    display: inline-block;
    margin-left: 75%;
    margin-top: 2%;
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .close:hover::before, .close:hover::after {
    background: #ffffff;
  }
  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: rgb(240, 56, 56);
  }
  .close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .close.heavy::before, .close.heavy::after {
    height: 12px;
    margin-top: -6px;
  }
  @media screen and (max-width: 1020px){
    .close {
      margin-top: 5%;
    }
  }


  @media screen and (max-width: 750px){
    .container_films{
        margin-top: 15%;
        grid-gap: 3.5em;
    }
    .close {
      margin-top: 15%;
    }
}
@media screen and (max-width: 500px){
    .container_films{
        margin-top: 15%;
        grid-gap: 3.5em;
    }
    .close {
      margin-top: 15%;
    }
}